<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://i.pinimg.com/originals/30/19/a6/3019a60e47a2b9fb0a549c6986264ca3.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="font-size: 50px;">PICOSITAS</h5>
        <p>En Picositas podrás agendar citas médicas dentro de la institución eduactiva UTNG</p>
        <a href="/login" type="button" class="btn btn-primary" style="margin-right: 10px;">Iniciar Sesión</a>
        <a href="/registro" type="button" class="btn btn-secondary">Registrarse</a>
      </div>
    </div>
  </div>
</div>



<!--Cards-->


<hr class="hr">

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-3">
      <div class="card" style="width: 18rem;">
          <img src="https://th.bing.com/th/id/OIP.oTsp97yVa1rdJpX-Sb0z6QHaHp?w=156&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
  </div>
 
  <div class="col-md-3">
      <div class="card" style="width: 18rem;">
          <img src="https://th.bing.com/th/id/OIP.oTsp97yVa1rdJpX-Sb0z6QHaHp?w=156&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
  </div>
  <div class="col-md-3">
      <div class="card" style="width: 18rem;">
          <img src="https://th.bing.com/th/id/OIP.oTsp97yVa1rdJpX-Sb0z6QHaHp?w=156&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
  </div>
  <div class="col-md-1"></div>
</div>


<hr class="hr">


<div class="row" style="margin: 5px;">
  <div class="col-md-7" >
      <h2 class="featurette-heading">Enabezado del primer reportaje
          <span class="text-muted">Te dejará boquiabierto</span>
      </h2>
      <p class="lead">Excelente forma de empezar mi primera página web de Psicositas, imagina lo siguiente:</p>
     
  </div>
  <div class="col-md-5">
      <img src="https://th.bing.com/th/id/OIP.oTsp97yVa1rdJpX-Sb0z6QHaHp?w=156&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" style="width: 100%; border-radius: 10px; padding:10px 10px;" alt="">
  </div>
</div>


