<p>registro works!</p>


<div class = "card mx-auto">
    <div class="card-header bg-info text-center">
      <h5 style="color: white;" >Crear Cuenta</h5>
    </div>
    
    <form  id="form" action="/cargar-articulo">
        <div class="card-body">
            <div class="entrada mb-3">
                <i class="fa fa-circle" aria-hidden="true"></i>
                <input type="text" class="form-control" id="exampleInputtext"placeholder="Nombre completo">
              </div>
              <div class="entrada mb-3">
                <i class="fa fa-circle" aria-hidden="true"></i>
                <input type="text" class="form-control" id="exampleInputtext"placeholder="Número de control">
              </div>
        <div class="entrada mb-3 mt-3" >
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="correo electronico">
          
        </div>
        <div class="entrada mb-3">
          <i class="fa fa-unlock-alt" aria-hidden="true"></i>
          <input type="password" class="form-control" id="pasw1"placeholder="password">
        </div>
        <div class="entrada mb-3">
            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
            <input type="password" class="form-control" id="pasw2"placeholder=" confirm password">
          </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Acepto las condiciones</label>
         
        </div>
        <button type="submit" class="btn btn-primary"onclick="alert('Registro completo');"routerLink="/login">Registrarme</button>
       
    </div>
      </form>
    </div>