<table class="table table-dark table-striped" style="margin: 20px 20px;">
    <thead>
      <tr>
        <th scope="col">Número de Cita</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Nombre(s)</th>
        <th scope="col">Hora de Cita</th>
        <th scope="col">Fecha de Cita</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Prado Salazar</td>
        <td>Cristian Ismael</td>
        <td>14:00</td>
        <td>21/06/23</td>
      </tr>
    </tbody>
  </table>
