

   <section id="header" class="jumbotron text-center">
     <h1 class="display-3">PSICOSITAS</h1>
     <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
</section>

<!--formulario-->
<div class="card mx-auto">
<form id="formulario"class="col-md-8">
  <div class="card">
    <div class="mb-8">
     <div class="mb-3 mt-3">
      <label for="email" class="form-label">Nombre Completo</label>
      <input type="email" class="form-control" id="nombre" placeholder="Enter name" name="name">
    </div>
    <div class="mb-3">
      <label for="pwd" class="form-label">Número de Control: </label>
      <input type="number" class="form-control" id="nControl" placeholder="Enter n.Control" name="control">
    </div>
    <div class="mb-3">
        <label for="pwd" class="form-label">Dia y Hora de Tutoria</label>
        <input type="varchar" class="form-control" id="Tutoria" placeholder="Enter tutorias" name="tutorias">
      </div>
      <div class="mb-3">
        <label for="pwd" class="form-label">Dia y Horas libres</label>
        <input type="varchar" class="form-control" id="libre" placeholder="Enter libres" name="libres">
      </div>
</div>
</div>
<!--formulario-->
    <button type="submit" class="btn btn-primary" onclick="alert('tu solicitud ha sido enviada correctamente');" >agendar</button>
      <button type="submit" class="btn btn-danger" routerLink="/home">cancelar</button>
  </form>
</div>
  
    
  <section id="gallery">
    <div class="container">
      <div class="row">
      <div class="col-lg-4 mb-4">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Sunset</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
          <button type="button" class="btn btn-secondary">Ir al sitio web</button>
          
        </div>
       </div>
      </div>
    <div class="col-lg-4 mb-4">
    <div class="card">
        <img src="https://images.unsplash.com/photo-1516214104703-d870798883c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Sunset</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
          <button type="button" class="btn btn-secondary">Ir al sitio web</button>
        </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Sunset</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
          <button type="button" class="btn btn-secondary">Ir al sitio web</button>
        </div>
       </div>
      </div>
    </div>
  </div>
  </section>
