<body background="https://cdn.pixabay.com/photo/2017/08/07/08/41/mountain-2601527_1280.jpg">
  
<div class = "card mx-auto">
    <div class="card-header bg-info text-center">
      <h5 style="color: white;" >Iniciar sesión </h5>
    </div>
    
    <form  action="/cargar-articulo">
        <div class="card-body">
        <div class="entrada mb-3 mt-3" >
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="correo electronico">
          
        </div>
        <div class="entrada mb-3">
          <i class="fa fa-unlock-alt" aria-hidden="true"></i>
          <input type="password" class="form-control" id="exampleInputPassword1"placeholder="password">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Ingresar</button>
        <div id="emailHelp" class="form-text">
            Al registrarse, aceptas nuestras condiciones de uso y políticas de privacidad.
            ¿No tienes una cuenta? 
        </div>
        <a href="/registro">Registrate</a>
    </div>
      </form>
    </div>
  </body>